@import "_settings.scss";

$column-header-height: 36px;
$column-footer-height: 36px;

$column-height: calc(#{$board-content-height} - #{$gap} * 2);
.column {
	// grow shrik basis: tỉ lễ giản/ tỉ lệ co/ kích thước bth
	flex: 0 0 auto;
	width: 300px;
	height: $column-height;
	// & use for css the same level class
	// Không phải là column đầu thì sẽ có margin trái
	// -> Need to disable this because its break when using dnd lib
	// &:not(:first-child) {
	// 	margin-left: $gap;
	// }
	margin-left: $gap;
	// >: css selector cho direct child
	> * {
		background-color: $column-bg-color;
		padding: 0 8px;
	}

	header.column-drag-handle {
		padding: 5px 8px;
		height: #{$column-header-height + $gap};
		line-height: $column-header-height;
		font-size: 16px;
		font-weight: bold;
		border-top-left-radius: $column-border-radius;
		border-top-right-radius: $column-border-radius;
		cursor: pointer;
		display: flex;
		.column-title {
			flex: 90%;
		}
		.column-dropdown-actions {
			flex: 10%;
			.dropdown {
				button.dropdown-btn {
					margin-top: -10px;
					height: 32px;
					font-size: 16px;
					font-weight: bold;
					letter-spacing: 1px;
					background-color: $column-bg-color;
					border-color: $column-bg-color;
					color: $app-main-text-color;
					padding: 0 $gap;
					&:after {
						content: "...";
						border: none;
					}
					&:hover {
						background-color: darken($column-bg-color, 10);
						border-color: darken($column-bg-color, 10);
					}
				}
			}

			// override css of bootstrap
			.dropdown-menu {
				padding: 0;
				min-width: 200px;
				.dropdown-item {
					padding: 0.1rem 1rem;
					font-size: 14px;
					&:not(:last-child) {
						border-bottom: 1px solid darken($column-bg-color, 10);
					}
				}
			}
		}
	}

	footer {
		padding-left: 10px;
		height: $column-footer-height;
		line-height: $column-footer-height;
		border-bottom-left-radius: $column-border-radius;
		border-bottom-right-radius: $column-border-radius;
		color: #888;
		.footer-actions {
			margin-left: $gap;
			cursor: pointer;
			&:hover {
				color: $app-main-text-color;
			}
		}
	}

	.card-list {
		margin: 0;
		max-height: calc(
			#{$column-height} - #{$column-header-height} - #{$column-footer-height}
		);
		overflow-y: auto;
		// Xoá hiển thị mũi tên ở thanh cuộn
		&::-webkit-scrollbar {
			-webkit-appearance: none;
		}

		&::-webkit-scrollbar:vertical {
			width: 11px;
		}
		// Màu thành cuộn
		&::-webkit-scrollbar-thumb {
			background-color: darken($column-bg-color, 15);
			border-right: 5px solid $column-bg-color;
		}
	}

	.card-ghost {
		transition: transform 0.18s ease;
		transform: rotateZ(5deg);
		font-weight: bold;
	}

	.card-ghost-drop {
		transition: transform 0.18s ease-in-out;
		transform: rotateZ(0deg);
	}

	.card-drop-preview {
		background-color: rgba(150, 150, 200, 0.1);
		border: 1px dashed #abc;
		margin: 5px;
	}
}
