@import "_settings.scss";

.board-content {
	display: flex;
	overflow-x: auto;
	margin: 0 $gap $gap;

	// Xoá hiển thị mũi tên ở thanh cuộn
	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	&::-webkit-scrollbar:horizontal {
		height: 11px;
	}
	// Màu thành cuộn
	&::-webkit-scrollbar-thumb {
		background-color: $common-element-bg;
		border-radius: 8px;
	}
}
